<?php
   // Before removing this file, please verify the PHP ini setting `auto_prepend_file` does not point to this.

   if (file_exists('{{ deploy_helper.new_release_path }}/web/app/plugins/wordfence/waf/bootstrap.php')) {
       define("WFWAF_LOG_PATH", '{{ deploy_helper.new_release_path }}/../../wflogs/');
       include_once '{{ deploy_helper.new_release_path }}/web/app/plugins/wordfence/waf/bootstrap.php';
   }
